<main class="main-home-content ">
    <div class="wrapper" style="
    background: #e9ecef;
">
        <div class="grid-uniform">
          <div class="grid__item">
<div class="container-fluid px-4 px-md-4 py-5 mx-auto">
    <div class="row d-flex justify-content-between align">
        <div class="card card1 border-0 rounded-0 mb-5">
            <h1 class="mb-0">We Make Spotlight</h1>
            <p>on Your Property</p>
            <div class="row mt-auto mb-2">
                <div class="col-6"> <button type="submit" class="btn btn-block btn-yellow">Login</button> </div>
                <div class="col-6"> <button type="submit" class="btn btn-block btn-inverse">Register</button> </div>
            </div>
        </div>
        <div class="card p-0 border-0 rounded-0 mb-5">
            <div class="card border-0 rounded-0 card0">
                <h1 class="mb-0">Hello!</h1>
                <p>Please login with your account</p> <label class="font-weight-bold mb-0">Email</label> <input type="text" name="email" class="mb-4" placeholder="abc@xyz.com"> <label class="font-weight-bold mb-0">Password</label> <input type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"> <a href="#" class="text-sm ml-auto text-dim">Forgot Password?</a>
                <div class="row justify-content-center mt-4"> <button type="submit" class="btn btn-yellow px-5">Login</button> </div>
                <div class="row justify-content-center mt-3"> <small class="text-dim">or login with</small> </div>
                <div class="row justify-content-center mt-3 mb-2"> <img class="icon mr-2" src="https://i.imgur.com/j8ZGqG2.png"> <img class="icon ml-2" src="https://i.imgur.com/AX2lVgH.png"> </div>
            </div> <img src="https://i.imgur.com/nUR4zg3.jpg" class="mt-auto">
        </div>
        <div class="card border-0 rounded-0 mb-5">
            <h1 class="mb-2">Register As User</h1> <small>Enter your details below</small>
            <div class="row px-3 mt-4 mb-3">
                <div class="custom-control custom-radio custom-control-inline"> <input id="customRadioInline1" type="radio" name="customRadioInline1" checked class="custom-control-input"> <label for="customRadioInline1" class="custom-control-label text-sm">Individual</label> </div>
                <div class="custom-control custom-radio custom-control-inline"> <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input"> <label for="customRadioInline2" class="custom-control-label text-sm">Company</label> </div>
            </div> <label class="font-weight-bold mb-0">Fullname</label> <input type="text" name="name" class="mb-4" placeholder="John Harry"> <label class="font-weight-bold mb-0">Email</label> <input type="text" name="email" class="mb-4" placeholder="abc@xyz.com"> <label class="font-weight-bold mb-0">Phone Number</label> <input type="text" name="phno" class="mb-4" placeholder="1234567890"> <label class="font-weight-bold mb-0">Password</label> <input type="password" name="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" minlength="8"> <small class="text-muted">Min length is 8 characters</small>
            <div class="custom-control custom-checkbox custom-control-inline mt-4"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input" checked> <label for="chk1" class="custom-control-label text-sm">I agree with Terms of Service, Terms of Payments and Privacy Policy.</label> </div>
            <div class="row px-3 mt-5"> <button type="submit" class="btn btn-yellow px-3 mr-3">Register</button> <small class="text-muted mr-3 mt-2">or login with</small> <img class="icon mr-2 mt-2" src="https://i.imgur.com/j8ZGqG2.png"> <img class="icon ml-2 mt-2" src="https://i.imgur.com/AX2lVgH.png"> </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</main>