<div id="PageContainer"></div>
<div class="quick-view" style="display: none;"></div>
<div class="wrapper-header wrapper-container">
  <div class="header-type-3">
    <div id="shopify-section-top-bar-type-3" class="shopify-section"> </div>
    <header class="site-header header-default">
      <div class="header-sticky">
        <div id="header-landing" class="sticky-animate">
          <div class="container">
            <div class="grid--full site-header__menubar">
              <h1 class="site-header__logo order-header  post-large--hide large--hide medium-down--hide" itemscope=""
                itemtype="http://schema.org/Organization">
                <a datah="index" itemprop="url">
                  <img class="normal-logo"
                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/t/2/assets/logoa4e2.png?v=3032615300732934382"
                    alt="safex-theme" itemprop="logo">
                </a>
              </h1>
              <div class="menubar-section order-header">
                <div class="desktop-megamenu">
                  <div id="shopify-section-adv-navigation" class="shopify-section">
                    <div class="wrapper-navigation" data-sticky-pc="">
                      <div class="main-menu jas-mb-style" style="">
                        <div class="row">
                          <div class="col-12">
                            <div class="mb-area">
                              <div class="nav-search wide--hide">
                                <div class="header-search">
                                  <div class="header-search__form">
                                    <form action="https://safex-theme.myshopify.com/search" method="get"
                                      class="search-bar" role="search">
                                      <input type="hidden" name="type" value="product">
                                      <input type="search" name="q" placeholder="Search"
                                        class="input-group-field header-search__input" aria-label="Search Site"
                                        autocomplete="off">
                                      <button type="submit" class="btn icon-search">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;"
                                          xml:space="preserve">
                                          <g>
                                            <path
                                              d="M67,62.1l25.2,25.2l-4.9,4.9L62.1,67c-13.3,10.7-32.6,9.7-44.6-2.4c-13-13-13-34.1,0-47.1s34.1-13,47.1,0 C76.8,29.5,77.7,48.8,67,62.1z M49.3,31.4c-4.4-4.3,0.9-8.4,4.4-5c5.8,5.3,8.9,13.1,6.1,21.3c-1.5,4.2-7.2,2.9-6.1-1.4 C55.8,41,53.6,34.7,49.3,31.4z M22.4,22.4c-10.3,10.4-10.3,27,0,37.3c10.4,10.3,27,10.3,37.3,0s10.3-26.9,0-37.3 C49.4,12.1,32.8,12.1,22.4,22.4z">
                                            </path>
                                          </g>
                                        </svg>
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <nav class="nav-bar" role="navigation">
                                <ul class="site-nav checking">
                                  <li class="desktopsearchbar" style="width: 347px;"
                                    [routerLink]="['productavailable']">
                                    <div class="nav-search ">
                                      <div class="header-search">
                                        <div class="header-search__form">
                                          <form action="https://safex-theme.myshopify.com/search"
                                            class="search-bar ng-untouched ng-pristine ng-valid" method="get"
                                            novalidate="" role="search" style="width: 319px;">
                                            <input name="type" type="hidden" value="product">
                                            <input aria-label="Search Site" autocomplete="off"
                                              class="input-group-field header-search__input" name="q"
                                              placeholder="Search" type="search">
                                            <button class="btn icon-search" type="submit" style="background: #2fade0;">
                                              <svg xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                id="Layer_1" style="fill:white" version="1.1" viewBox="0 0 100 100"
                                                x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                                                <g>
                                                  <path
                                                    d="M67,62.1l25.2,25.2l-4.9,4.9L62.1,67c-13.3,10.7-32.6,9.7-44.6-2.4c-13-13-13-34.1,0-47.1s34.1-13,47.1,0 C76.8,29.5,77.7,48.8,67,62.1z M49.3,31.4c-4.4-4.3,0.9-8.4,4.4-5c5.8,5.3,8.9,13.1,6.1,21.3c-1.5,4.2-7.2,2.9-6.1-1.4 C55.8,41,53.6,34.7,49.3,31.4z M22.4,22.4c-10.3,10.4-10.3,27,0,37.3c10.4,10.3,27,10.3,37.3,0s10.3-26.9,0-37.3 C49.4,12.1,32.8,12.1,22.4,22.4z">
                                                  </path>
                                                </g>
                                              </svg>
                                            </button>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="menu-lv-1 item">
                                    <a class="current" [routerLink]="['home']">
                                      Home
                                    </a>
                                  </li>
                                  <li class="menu-lv-1 item dropdown mega-menu" [routerLink]="['productavailable']">
                                    <a class="menu__moblie " datah="collections/new-arrivals">
                                      New Arrivals
                                      <span class="icon-dropdown" data-toggle-menu-mb="">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                      </span>
                                    </a>
                                    <div class="sub-menu-mobile menu-mb-translate">
                                      <div class="menu-mb-title">
                                        <span class="icon-dropdown">
                                          <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </span>
                                        New Arrivals
                                      </div>
                                      <div class="site-nav-dropdown style_2">
                                        <div class="container">
                                          <div class="row">
                                            <div class="col-12 col-xl-7">
                                              <div class="row"
                                                data-masonry="{ &quot;itemSelector&quot;: &quot;[data-gridItem]&quot;, &quot;columnWidth&quot;: &quot;.grid-sizer&quot; }"
                                                style="position: relative; height: 479.627px;">
                                                <div class="grid-sizer"></div>
                                                <div data-griditem="" class="menu-lv-2 inner dropdown col-12 col-xl-4"
                                                  style="position: absolute; left: 0px; top: 0px;">
                                                  <!-- Menu level 2 -->
                                                  <a class="menu__moblie" datah="collections/upvc-windows">
                                                    UPVC Windows
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">
                                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <div class="sub-menu-mobile menu-mb-translate">
                                                    <div class="menu-mb-title">
                                                      <span class="icon-dropdown">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                      </span>
                                                      UPVC Windows
                                                    </div>
                                                    <ul class="dropdown">
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="products/magic-casement-window">
                                                          Reversible UPVC windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="products/sliding-sash-windows">
                                                          Sliding White Windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Residential Modern Windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Awning Windows
                                                        </a>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                                <div data-griditem="" class="menu-lv-2 inner dropdown col-12 col-xl-4"
                                                  style="position: absolute; left: 165.61px; top: 0px;">
                                                  <!-- Menu level 2 -->
                                                  <a class="menu__moblie" datah="collections/upvc-doors">
                                                    UPVC Doors
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">
                                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <div class="sub-menu-mobile menu-mb-translate">
                                                    <div class="menu-mb-title">
                                                      <span class="icon-dropdown">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                      </span>
                                                      UPVC Doors
                                                    </div>
                                                    <ul class="dropdown">

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="products/tilt-and-turn-windows">
                                                          Modus Windows and Doors
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="products/triple-glazing">
                                                          Wooden Sliding Door
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Wind Resistance Doors
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Fixed Windows
                                                        </a>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                                <div data-griditem="" class="menu-lv-2 inner dropdown col-12 col-xl-4"
                                                  style="position: absolute; left: 331.22px; top: 0px;">
                                                  <!-- Menu level 2 -->
                                                  <a class="menu__moblie" datah="collections/sliding-doors">
                                                    Sliding Doors
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">
                                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <div class="sub-menu-mobile menu-mb-translate">
                                                    <div class="menu-mb-title">
                                                      <span class="icon-dropdown">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                      </span>
                                                      Sliding Doors
                                                    </div>
                                                    <ul class="dropdown">
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="products/wooden-sliding-door">
                                                          Wooden Double Glazing
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="products/wind-resistance-doors">
                                                          Magic Casement Window
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Weather-proof Windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Combination Windows
                                                        </a>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                                <div data-griditem="" class="menu-lv-2 inner dropdown col-12 col-xl-4"
                                                  style="position: absolute; left: 165.61px; top: 229.029px;">
                                                  <!-- Menu level 2 -->
                                                  <a class="menu__moblie" datah="collections/sliding-windows">
                                                    Sliding Windows
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">
                                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <div class="sub-menu-mobile menu-mb-translate">
                                                    <div class="menu-mb-title">
                                                      <span class="icon-dropdown">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                      </span>
                                                      Sliding Windows
                                                    </div>
                                                    <ul class="dropdown">
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Tilt and Turn Windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Top Hung Windows
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Sliding White Windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Single Hung Windows
                                                        </a>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                                <div data-griditem="" class="menu-lv-2 inner dropdown col-12 col-xl-4"
                                                  style="position: absolute; left: 331.22px; top: 229.029px;">
                                                  <!-- Menu level 2 -->
                                                  <a class="menu__moblie" datah="collections/double-glazing">
                                                    Double Glazing
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">
                                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <div class="sub-menu-mobile menu-mb-translate">
                                                    <div class="menu-mb-title">
                                                      <span class="icon-dropdown">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                      </span>
                                                      Double Glazing
                                                    </div>

                                                    <ul class="dropdown">

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Reversible UPVC windows
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Wooden Double Glazing
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Wind Resistance Windows
                                                        </a>
                                                      </li>

                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Tilt And Turn Windows
                                                        </a>
                                                      </li>

                                                    </ul>
                                                  </div>
                                                </div>
                                                <div data-griditem="" class="menu-lv-2 inner dropdown col-12 col-xl-4"
                                                  style="position: absolute; left: 0px; top: 250.598px;">
                                                  <!-- Menu level 2 -->
                                                  <a class="menu__moblie" datah="collections/triple-glazing">
                                                    Triple Glazing
                                                    <span class="icon-dropdown" data-toggle-menu-mb="">
                                                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </span>
                                                  </a>
                                                  <div class="sub-menu-mobile menu-mb-translate">
                                                    <div class="menu-mb-title">
                                                      <span class="icon-dropdown">
                                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                      </span>
                                                      Triple Glazing
                                                    </div>
                                                    <ul class="dropdown">
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          UPVC Double Glazing
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Wooden Sliding Door
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Weather-proof Windows
                                                        </a>
                                                      </li>
                                                      <!-- Menu level 3 -->
                                                      <li class="menu-lv-3 inner">
                                                        <a datah="#">
                                                          Double Hung Windows
                                                        </a>
                                                      </li>
                                                    </ul>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-12 col-xl-5">
                                              <div class="mega-banner">
                                                <div class="mega-col col-left">
                                                  <a class="animate-scale" datah="#" title="">
                                                    <img
                                                      src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/Safex_Mega_Menu_-1_250x0cd2.jpg?v=1595403165"
                                                      alt="">
                                                  </a>
                                                  <a class="animate-scale" datah="#" title="">
                                                    <img
                                                      src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/Safex_Mega_Menu_-9_250xd732.jpg?v=1595590989"
                                                      alt="">
                                                  </a>
                                                </div>
                                                <div class="mega-col col-right">
                                                  <a class="animate-scale" datah="#" title="">
                                                    <img
                                                      src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/Safex_Mega_Menu_-5_250xbb68.jpg?v=1595408669"
                                                      alt="">
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="menu-lv-1 item" [routerLink]="['support']">
                                    <a class="" datah="blogs/news">
                                      Contact Us
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                              <div class="appentMb wide--hide" data-append-header-mb="">
                                <ul class="menu_bar_right">
                                  <li class="wishlist">
                                    <a [routerLink]="['favourite']" title="Wishlist"><span
                                        class="wide--hide">Wishlist</span><i
                                        class="fas fa-heart post-large--hide large--hide medium-down--hide"></i></a>
                                  </li>
                                  <li class="customer_account">
                                    <div class="header-account_links">
                                      <ul>
                                        <li>
                                          <a [routerLink]="['useraccount']" title="Log in" data-value="value 1"><i
                                              class="fa fa-user post-large--hide large--hide medium-down--hide"></i><span
                                              class="wide--hide">Log in</span></a>
                                        </li>
                                        <li>
                                          <a [routerLink]="['useraccount']" title="Log in" data-value="value 1"><i
                                              class="fa fa-user post-large--hide large--hide medium-down--hide"></i><span
                                              class="wide--hide">Register</span></a>
                                        </li>
                                        <li>
                                          <a [routerLink]="['userpanel']" title="Create account"> <i class="fas fa-user"
                                              aria-hidden="true"></i>My profile</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="right-header header-items" data-append-header-pc="">

                    </div>
                  </div>
                </div>
              </div>
              <div id="shopify-section-header-model-3" class="shopify-section">
                <a datah="#" class="icon-nav close-menu-mb" title="Menu Mobile Icon" data-menu-mb-toogle="">
                  <span class="icon-line"></span>
                </a>
                <div class="grid__item menubar_inner header-bottom" data-sticky-mb="">
                  <div class="wrapper-header-bt">
                    <div class="header-mb">
                      <div class="header-mb-left header-mb-items">
                        <div class="hamburger-icon svg-mb">
                          <a datah="#" class="icon-nav" title="Menu Mobile Icon" data-menu-mb-toogle="">
                            <span class="icon-line"></span>
                          </a>
                        </div>
                      </div>
                      <div class="header-mb-middle header-mb-items">
                        <div class="header-logo">
                          <h1 class="site-header__logo" itemscope="" itemtype="http://schema.org/Organization">
                            <a datah="index" style="max-width: px;">
                              <img class="normal-logo"
                                src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/t/2/assets/logoa4e2.png?v=3032615300732934382"
                                alt="safex-theme" itemprop="logo">
                            </a>
                          </h1>
                        </div>
                      </div>
                      <div class="header-mb-right header-mb-items">
                        <div class="cart-icon svg-mb">
                          <a datah="#" title="Cart Icon" data-cart-toggle="">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
                              xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 30 30">
                              <g>
                                <g>
                                  <path
                                    d="M20,6V5c0-2.761-2.239-5-5-5s-5,2.239-5,5v1H4v24h22V6H20z M12,5c0-1.657,1.343-3,3-3s3,1.343,3,3v1h-6V5z M24,28H6V8h4v3    h2V8h6v3h2V8h4V28z">
                                  </path>
                                </g>
                              </g>
                            </svg>
                            <span class="cartCount" data-cart-count="">
                              0
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="header-pc">
                      <ul class="menu-icon">
                        <li class="menu_bar_right">
                          <div class="slidedown_section">
                            <a id="Togglemodal" class="icon-cart-arrow"><i class="fas fa-user"
                                aria-hidden="true"></i></a>
                            <div id="slidedown-modal">
                              <div class="header-panel-top">
                                <div class="customer_account">
                                  <ul>
                                    <li>
                                      <a [routerLink]="['useraccount']" title="Log in"> <i
                                          class="fa fa-sign-in-alt icons" aria-hidden="true"></i> Log in</a>
                                    </li>
                                    <li>
                                      <a [routerLink]="['useraccount']" title="Create account"> <i class="fas fa-user"
                                          aria-hidden="true"></i> Create account</a>
                                    </li>

                                    <li>
                                      <a [routerLink]="['userpanel']" title="Create account"> <i class="fas fa-user"
                                          aria-hidden="true"></i>My profile</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <a [routerLink]="['favourite']" title="Wishlist"> <i class="fas fa-heart"
                              aria-hidden="true"></i></a>
                        </li>
                        <li class="header-bar__module cart header_cart">
                          <!-- Mini Cart Start -->
                          <div class="baskettop">
                            <a [routerLink]="['mycart']" class="icon-cart-arrow cart-icon" data-cart-toggle="">
                              <i class="fas fa-shopping-bag"></i>
                              <div class="detail">
                                <div id="cartCount" data-cart-count="">
                                  0
                                </div>
                              </div>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="search_reveal" style="display: none; overflow: hidden;">
        <div class="search-box">
          <form action="" method="get" class="search-bar__form" [routerLink]="['productavailable']">
            <input type="hidden" name="type" value="product">
            <input type="search" name="q" id="q" placeholder="Search" autocomplete="off">
            <button id="search_button" type="submit" class="btn"><svg class="icon icon-search"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                y="0px" viewBox="0 0 64 80" enable-background="new 0 0 64 64" xml:space="preserve">
                <path
                  d="M57.7,55.6L44.8,40.7c2.9-3.8,4.7-8.6,4.7-13.8c0-12.5-10.2-22.6-22.6-22.6C14.4,4.3,4.2,14.4,4.2,26.9s10.2,22.6,22.6,22.6  c5.5,0,10.5-2,14.5-5.2l12.6,14.6c0.5,0.6,1.2,0.9,1.9,0.9c0.6,0,1.2-0.2,1.6-0.6C58.5,58.2,58.6,56.7,57.7,55.6z M9.2,26.9  c0-9.7,7.9-17.6,17.6-17.6c9.7,0,17.6,7.9,17.6,17.6s-7.9,17.6-17.6,17.6C17.2,44.5,9.2,36.6,9.2,26.9z">
                </path>
              </svg></button>
          </form>
          <a class="close" datah="javascript:void(0)"><i class="fa fa-times"></i></a>
          <div class="info-box" style="display: none;"></div>
          <ul class="results-box" style="display: none;"></ul>
        </div>
      </div>
    </header>
  </div>
</div>