<main class="main-home-content "  [routerLink]="['/productavailable']">



  <div class="wrapper">
    <div class="grid-uniform">
      <div class="grid__item">

        <!-- BEGIN content_for_index -->
        <div id="shopify-section-1592399044344" class="shopify-section index-section index-slideshow-type-1">

          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/slider3-bg_2000x9a15.jpg?v=1594802997" alt="Los Angeles">
              </div>
              <div class="carousel-item">
                <img src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/slider3-bg_2000x9a15.jpg?v=1594802997" alt="Chicago">
              </div>
              <div class="carousel-item">
                <img src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/slider3-bg_2000x9a15.jpg?v=1594802997" alt="New York">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" datahr="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" datahr="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
        </div>
        <div id="shopify-section-1593507691484" class="shopify-section index-section home-grid-banner">





          <div class="container">
            <div class="grid-banner-type-8" style="margin-top:110px; margin-bottom:0px;">
              <div class="grid__item">
                <div
                  class="grid__item wide--one-half post-large--one-half large--one-half medium-down--one-whole small--grid__item small--text-center ">

                  <div class="ovrly31 overlay_2 wow fadeIn animated animated" style="visibility: visible;">
                    <a class="banner_half_img" datahr="collections">

                      <img
                        src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/gb1_3e156d60-b219-4824-b894-9f51cd204123119c.jpg?v=1593839670"
                        alt="PVC Doors">
                      <div class="ovrly"></div>

                    </a>


                    <div class="featured-content">



                      <h6 style="color:rgba(0,0,0,0);">PVC Doors <span></span></h6>


                    </div>

                  </div>
                </div>
                <div
                  class="grid__item wide--one-half post-large--one-half large--one-half medium-down--one-whole small--grid__item small--text-center ">
                  <div class="ovrly31 overlay_2 wow fadeIn animated animated" style="visibility: visible;">
                    <a class="banner_half_img" datahr="collections">

                      <img src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/gb2b03f.jpg?v=1593839798"
                        alt="Tilt &amp; Turn">
                      <div class="ovrly"></div>

                    </a>


                    <div class="featured-content">



                      <h6 style="color:rgba(0,0,0,0);">Tilt &amp; Turn <span></span></h6>


                    </div>
                  </div>

                  <div class="ovrly31 overlay_1 wow fadeIn animated animated" style="visibility: visible;">
                    <a class="banner_half_img" datahr="collections">

                      <img src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/gb3f400.jpg?v=1593839824"
                        alt="Sliding Windows">
                      <div class="ovrly"></div>

                    </a>


                    <div class="featured-content">



                      <h6 style="color:rgba(0,0,0,0);">Sliding Windows <span></span></h6>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <style>
            .grid-banner-type-8 .ovrly31 {
              border-radius: 10px;
              margin-bottom: 30px;
            }

            .grid-banner-type-8 img {
              border-radius: 10px;
            }

            .grid-banner-type-8 .ovrly31 .featured-content h6,
            .grid-banner-type-3 .ovrly31:hover .featured-content h3 {
              color: #FFF !important;
            }

            .grid-banner-type-8 .featured-content .btn:hover {
              border: 1px solid rgba(0, 0, 0, 0) !important;
              background: rgba(0, 0, 0, 0) !important;
              color: rgba(0, 0, 0, 0) !important;
            }
          </style>


        </div>
        <div id="shopify-section-1593508066787" class="shopify-section index-section home-product-grid">







          <div class="product-grid-block"
            style="margin-top:-10px; margin-bottom:0px;float:left;width:100%; background-color:#fff;">
            <div class="container">
              <div class="dt-sc-hr-invisible-small"></div>
              <div class="product-block-inner">


                <div class="section-header section-header--small full-position-default">
                  <div class="border-title">


                    <h2 class="section-header__title" style="color:#032b90;">
                      Featured Products
                    </h2>

                  </div>
                </div>



                <div class="grid-uniform">

                  <div class="grid__item product-grid-none default">
                    <div class="product-block load-wrapper ">
                      <ul class="grid-uniform">











                        <li
                          class="grid__item item-row wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small--one-column  medium--one-half small--one-column   on-sale"
                          id="product-5336262869147">
                          <div class="products product-hover-11">
                            <div class="product-container">












                              <a datahr="collections/featured-products/products/sliding-white-windows"
                                class="grid-link">


                                <div class="featured-tag">
                                  <span class="badge badge--sale">
                                    <span class="gift-tag badge__text">Sale</span>
                                  </span>
                                </div>




                                <div class="ImageOverlayCa"></div>



                              </a>
                              <div class="reveal"><a
                                  datahr="collections/featured-products/products/sliding-white-windows"
                                  class="grid-link">
                                  <span class="product-additional">
                                  </span></a><a datahr="collections/featured-products/products/sliding-white-windows"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Homeproduct1_largea999.jpg?v=1595245916"
                                    class="featured-image" alt="Sliding White Windows">
                                </a>

                                <a datahr="collections/featured-products/products/sliding-white-windows"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Product4_large756f.jpg?v=1595245931"
                                    class="hidden-feature_img" alt="Sliding White Windows">
                                </a>
                              </div>






                              <div class="product_right_tag   offer_exist ">


                              </div>
                              <div class="ImageWrapper">
                                <div class="link_icon">




                                  <ul class="sizes-list">
















                                  </ul>



                                </div>

                                <div class="product-button">




                                  <a title="Product Link" datahr="products/sliding-white-windows">
                                    <i class="fas fa-link"></i>
                                  </a>





                                  <div class="add-to-wishlist">
                                    <div class="show">
                                      <div class="default-wishbutton-sliding-white-windows loading"><a
                                          title="Add to wishlist" class="add-in-wishlist-js"
                                          datahr="sliding-white-windows"><i class="fas fa-heart"></i><span
                                            class="tooltip-label">Add to wishlist</span></a></div>
                                      <div class="loadding-wishbutton-sliding-white-windows loading"
                                        style="display: none; pointer-events: none"><a class="add_to_wishlist"
                                          datahr="sliding-white-windows"><i class="fas fa-spinner"></i></a></div>
                                      <div class="added-wishbutton-sliding-white-windows loading"
                                        style="display: none;"><a title="View Wishlist"
                                          class="added-wishlist add_to_wishlist" datahr="pages/wishlist"><i
                                            class="fas fa-heart"></i><span class="tooltip-label">View
                                            Wishlist</span></a></div>
                                    </div>
                                  </div>




                                  <a datahr="javascript:void(0)" title="Quick View" id="sliding-white-windows"
                                    class="quickview-button quick-view-text product_link"
                                    data-view="sliding-white-windows"><i class="fa fa-search"></i></a>

                                </div>
                              </div>
                            </div>

                            <div class="product-detail">

                              <a datahr="collections/featured-products/products/sliding-white-windows"
                                class="grid-link__title">Sliding White Windows</a>





                              <ul class="sizes-list">
















                              </ul>


                              <div class="product_desc grid_list">Proin sapien tortor, euismod a ullamcorper aliq...
                              </div>

                              <div class="grid-link__meta">



                                <div class="product_price">
                                  <div class="grid-link__org_price" id="ProductPrice">
                                    <span class="money" data-currency-usd="$210.00"><i  class="fa fa-inr"></i> 210.00</span>
                                  </div>
                                </div>

                                <del class="grid-link__sale_price" id="ComparePrice">
                                  <span class="money" data-currency-usd="$250.00"><i  class="fa fa-inr"></i> 250.00</span>
                                </del>

                              </div>
                              <span class="shopify-product-reviews-badge" data-id="5336262869147"></span>

                            </div>
                          </div>
                        </li>










                        <li
                          class="grid__item item-row wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small--one-column  medium--one-half small--one-column  "
                          id="product-5402017988763">
                          <div class="products product-hover-11">
                            <div class="product-container">












                              <a datahr="collections/featured-products/products/wooden-double-glazing"
                                class="grid-link">





                                <div class="ImageOverlayCa"></div>



                              </a>
                              <div class="reveal"><a
                                  datahr="collections/featured-products/products/wooden-double-glazing"
                                  class="grid-link">
                                  <span class="product-additional">
                                  </span></a><a datahr="collections/featured-products/products/wooden-double-glazing"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Homeproduct2_large5bc0.jpg?v=1595246046"
                                    class="featured-image" alt="Wooden Double Glazing">
                                </a>

                                <a datahr="collections/featured-products/products/wooden-double-glazing"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Product12_large5bc0.jpg?v=1595246046"
                                    class="hidden-feature_img" alt="Wooden Double Glazing">
                                </a>
                              </div>






                              <div class="product_right_tag  ">


                              </div>
                              <div class="ImageWrapper">
                                <div class="link_icon">




                                  <ul class="sizes-list">
















                                  </ul>



                                </div>

                                <div class="product-button">




                                  <a title="Product Link" datahr="products/wooden-double-glazing">
                                    <i class="fas fa-link"></i>
                                  </a>





                                  <div class="add-to-wishlist">
                                    <div class="show">
                                      <div class="default-wishbutton-wooden-double-glazing loading"><a
                                          title="Add to wishlist" class="add-in-wishlist-js"
                                          datahr="wooden-double-glazing"><i class="fas fa-heart"></i><span
                                            class="tooltip-label">Add to wishlist</span></a></div>
                                      <div class="loadding-wishbutton-wooden-double-glazing loading"
                                        style="display: none; pointer-events: none"><a class="add_to_wishlist"
                                          datahr="wooden-double-glazing"><i class="fas fa-spinner"></i></a></div>
                                      <div class="added-wishbutton-wooden-double-glazing loading"
                                        style="display: none;"><a title="View Wishlist"
                                          class="added-wishlist add_to_wishlist" datahr="pages/wishlist"><i
                                            class="fas fa-heart"></i><span class="tooltip-label">View
                                            Wishlist</span></a></div>
                                    </div>
                                  </div>




                                  <a datahr="javascript:void(0)" title="Quick View" id="wooden-double-glazing"
                                    class="quickview-button quick-view-text product_link"
                                    data-view="wooden-double-glazing"><i class="fa fa-search"></i></a>

                                </div>
                              </div>
                            </div>

                            <div class="product-detail">

                              <a datahr="collections/featured-products/products/wooden-double-glazing"
                                class="grid-link__title">Wooden Double Glazing</a>





                              <ul class="sizes-list">
















                              </ul>


                              <div class="product_desc grid_list">In ut tortor non velit auctor pretium et ac nis...
                              </div>

                              <div class="grid-link__meta">



                                <div class="product_price">
                                  <div class="grid-link__org_price" id="ProductPrice">
                                    <span class="money" data-currency-usd="$430.00"><i  class="fa fa-inr"></i> 430.00</span>
                                  </div>
                                </div>

                              </div>
                              <span class="shopify-product-reviews-badge" data-id="5402017988763"></span>

                            </div>
                          </div>
                        </li>










                        <li
                          class="grid__item item-row wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small--one-column  medium--one-half small--one-column  "
                          id="product-5402026934427">
                          <div class="products product-hover-11">
                            <div class="product-container">












                              <a datahr="collections/featured-products/products/wooden-sliding-door"
                                class="grid-link">





                                <div class="ImageOverlayCa"></div>



                              </a>
                              <div class="reveal"><a
                                  datahr="collections/featured-products/products/wooden-sliding-door"
                                  class="grid-link">
                                  <span class="product-additional">
                                  </span></a><a datahr="collections/featured-products/products/wooden-sliding-door"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Homeproduct3_large3415.jpg?v=1595246097"
                                    class="featured-image" alt="Wooden Sliding Door">
                                </a>

                                <a datahr="collections/featured-products/products/wooden-sliding-door"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Product3_9e02591f-57a7-4c97-a318-8cc7aa03dd74_large3415.jpg?v=1595246097"
                                    class="hidden-feature_img" alt="Wooden Sliding Door">
                                </a>
                              </div>






                              <div class="product_right_tag  ">


                              </div>
                              <div class="ImageWrapper">
                                <div class="link_icon">




                                  <ul class="sizes-list">
















                                  </ul>



                                </div>

                                <div class="product-button">




                                  <a title="Product Link" datahr="products/wooden-sliding-door">
                                    <i class="fas fa-link"></i>
                                  </a>





                                  <div class="add-to-wishlist">
                                    <div class="show">
                                      <div class="default-wishbutton-wooden-sliding-door loading"><a
                                          title="Add to wishlist" class="add-in-wishlist-js"
                                          datahr="wooden-sliding-door"><i class="fas fa-heart"></i><span
                                            class="tooltip-label">Add to wishlist</span></a></div>
                                      <div class="loadding-wishbutton-wooden-sliding-door loading"
                                        style="display: none; pointer-events: none"><a class="add_to_wishlist"
                                          datahr="wooden-sliding-door"><i class="fas fa-spinner"></i></a></div>
                                      <div class="added-wishbutton-wooden-sliding-door loading" style="display: none;">
                                        <a title="View Wishlist" class="added-wishlist add_to_wishlist"
                                          datahr="pages/wishlist"><i class="fas fa-heart"></i><span
                                            class="tooltip-label">View Wishlist</span></a></div>
                                    </div>
                                  </div>




                                  <a datahr="javascript:void(0)" title="Quick View" id="wooden-sliding-door"
                                    class="quickview-button quick-view-text product_link"
                                    data-view="wooden-sliding-door"><i class="fa fa-search"></i></a>

                                </div>
                              </div>
                            </div>

                            <div class="product-detail">

                              <a datahr="collections/featured-products/products/wooden-sliding-door"
                                class="grid-link__title">Wooden Sliding Door</a>





                              <ul class="sizes-list">
















                              </ul>


                              <div class="product_desc grid_list">Nullam et leo non mi posuere ultricies vitae qu...
                              </div>

                              <div class="grid-link__meta">



                                <div class="product_price">
                                  <div class="grid-link__org_price" id="ProductPrice">
                                    <span class="money" data-currency-usd="$430.00"><i  class="fa fa-inr"></i> 430.00</span>
                                  </div>
                                </div>

                              </div>
                              <span class="shopify-product-reviews-badge" data-id="5402026934427"></span>

                            </div>
                          </div>
                        </li>










                        <li
                          class="grid__item item-row wide--one-quarter post-large--one-quarter large--one-quarter medium--one-half small--one-column  medium--one-half small--one-column   sold-out"
                          id="product-5402087948443">
                          <div class="products product-hover-11">
                            <div class="product-container">












                              <a datahr="collections/featured-products/products/weather-proof-windows"
                                class="grid-link">


                                <span class="badge badge--sold-out">
                                  <span class="badge__text">Sold Out</span>
                                </span>


                                <div class="ImageOverlayCa"></div>



                              </a>
                              <div class="reveal"><a
                                  datahr="collections/featured-products/products/weather-proof-windows"
                                  class="grid-link">
                                  <span class="product-additional">
                                  </span></a><a datahr="collections/featured-products/products/weather-proof-windows"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Homeproduct4_a23773a8-c0d3-4f24-b957-5772e015bddf_large6c57.jpg?v=1595247642"
                                    class="featured-image" alt="Weather-proof Windows">
                                </a>

                                <a datahr="collections/featured-products/products/weather-proof-windows"
                                  class="grid-link">
                                  <img
                                    src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/products/Product11_78229327-d94f-48f8-817a-45defe6eacfa_large6c57.jpg?v=1595247642"
                                    class="hidden-feature_img" alt="Weather-proof Windows">
                                </a>
                              </div>






                              <div class="product_right_tag  ">


                              </div>
                              <div class="ImageWrapper">
                                <div class="link_icon">






                                </div>

                                <div class="product-button">





                                  <div class="add-to-wishlist">
                                    <div class="show">
                                      <div class="default-wishbutton-weather-proof-windows loading"><a
                                          title="Add to wishlist" class="add-in-wishlist-js"
                                          datahr="weather-proof-windows"><i class="fas fa-heart"></i><span
                                            class="tooltip-label">Add to wishlist</span></a></div>
                                      <div class="loadding-wishbutton-weather-proof-windows loading"
                                        style="display: none; pointer-events: none"><a class="add_to_wishlist"
                                          datahr="weather-proof-windows"><i class="fas fa-spinner"></i></a></div>
                                      <div class="added-wishbutton-weather-proof-windows loading"
                                        style="display: none;"><a title="View Wishlist"
                                          class="added-wishlist add_to_wishlist" datahr="pages/wishlist"><i
                                            class="fas fa-heart"></i><span class="tooltip-label">View
                                            Wishlist</span></a></div>
                                    </div>
                                  </div>




                                  <a datahr="javascript:void(0)" title="Quick View" id="weather-proof-windows"
                                    class="quickview-button quick-view-text product_link"
                                    data-view="weather-proof-windows"><i class="fa fa-search"></i></a>

                                </div>
                              </div>
                            </div>

                            <div class="product-detail">

                              <a datahr="collections/featured-products/products/weather-proof-windows"
                                class="grid-link__title">Weather-proof Windows</a>






                              <div class="product_desc grid_list">Proin in orci et nibh fringilla commodo. Nunc m...
                              </div>

                              <div class="grid-link__meta">



                                <div class="product_price">
                                  <div class="grid-link__org_price" id="ProductPrice">
                                    <span class="money" data-currency-usd="$250.00"><i  class="fa fa-inr"></i> 250.00</span>
                                  </div>
                                </div>

                              </div>
                              <span class="shopify-product-reviews-badge" data-id="5402087948443"></span>

                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <style>



          </style>


        </div>
        <div id="shopify-section-1593508671413" class="shopify-section index-section support-block-type">




          <div class="support-block-inner parallax"
            style="background: #2db1e6; margin-top:0px; margin-bottom:0px; background-image:url('assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/support-bg_1920X9e61.png?v=1593671392');background-attachment:fixed;background-repeat:no-repeat;background-position:center center; ">
            <div class="overlay"></div>
            <div class="grid-uniform">
              <div class="container">
                <div class="grid__item">

                </div>
                <div class="support-blk-section style1">
                  <ul class="support_block">






                    <li
                      class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item"
                      data-wow-delay="ms">
                      <div class="support_section align-left">
                        <div class="support-wrapper">
                          <div class="icon-img">



                            <a datahr="#"> <img
                                src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/rocket_mediumc81c.png?v=1593608325"
                                alt="Free Shipping"></a>










                          </div>

                          <div class="support_text">


                            <h4 style="color:#ffffff;">Free Shipping</h4>




                            <p style="color:#ffffff;" class="desc">Design on Order Over $99</p>

                          </div>
                        </div>
                      </div>
                    </li>






                    <li
                      class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item"
                      data-wow-delay="ms">
                      <div class="support_section align-left">
                        <div class="support-wrapper">
                          <div class="icon-img">



                            <a datahr="#"> <img
                                src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/clock_medium93bf.png?v=1593608445"
                                alt="Order Online"></a>










                          </div>

                          <div class="support_text">


                            <h4 style="color:#ffffff;">Order Online</h4>




                            <p style="color:#ffffff;" class="desc">Easy 24/7 Online Ordering</p>

                          </div>
                        </div>
                      </div>
                    </li>






                    <li
                      class="grid__item wide--one-third post-large--one-third large--one-third medium--one-half small-grid__item"
                      data-wow-delay="ms">
                      <div class="support_section align-left">
                        <div class="support-wrapper">
                          <div class="icon-img">



                            <a datahr="#"> <img
                                src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/money_medium5b72.png?v=1593608315"
                                alt="Shop &amp; Save"></a>










                          </div>

                          <div class="support_text">


                            <h4 style="color:#ffffff;">Shop &amp; Save</h4>




                            <p style="color:#ffffff;" class="desc">For all Special Collections</p>

                          </div>
                        </div>
                      </div>
                    </li>



                  </ul>
                </div>

              </div>

            </div>

          </div>

          <style>
            @-webkit-keyframes bounce-1 {
              0% {
                transform: translateY(0);
              }

              50% {
                transform: translateY(-10px; )
              }

              100% {
                transform: translateY(0);
              }
            }

            @keyframes bounce-1 {
              0% {
                transform: translateY(0);
              }

              50% {
                transform: translateY(-10px);
              }

              100% {
                transform: translateY(0);
              }
            }

            .support-block-type .support_section .support-wrapper:hover .support_text h4::after {
              background: #000 !important;
            }

            .support-block-type .support_section .support-wrapper .support_text h4::after {
              background:  !important;
            }

            .support-block-type .support-wrapper:hover .support_icon a::before {
              background: ;
            }

            .support-block-type .support-wrapper:hover .support_icon a {
              color: #000 !important;
            }

            .support-block-inner .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1;
            }

            .support-block-inner.parallax .overlay {
              background: #032b90;
            }
          </style>



        </div>
        <div id="shopify-section-1593508802011" class="shopify-section index-section home-grid-banner">





          <div class="container">
            <div class="grid-banner-type-5" style="margin-top:25px; margin-bottom:25px;">
              <div class="dt-sc-hr-invisible-medium"></div>


              <div class="grid-uniform featuredItems">





                <div class="grid__item one-block mixed">
                  <div class="grid-uniform">


                    <div class="grid__item wide--two-thirds post-large--two-third large--two-third">
                      <div class="overlay mixed-1593508802011-0">
                        <div class="featured-image">


                          <img
                            src="assets/cdn.shopify.com/s/files/1/0422/7301/3915/files/mom-kid-playing_1000X023c.jpg?v=1594895646"
                            alt="Own Windows Production">
                          <div class="ovrly"></div>


                        </div>
                      </div>
                    </div>



                    <div class="grid__item wide--one-third post-large--one-third large--one-third">
                      <div class="overlay mixed-1593508802011-0" style="background:#fff">
                        <div class="featured-content mixed-1593508802011-0 imageText_position imgtxt-middle-left">

                          <h2 style="color:#000000;">Own Windows Production</h2>


                          <h5 style="color:#032b90;">Creating Home Warm and Comfort</h5>


                          <p class="additional-text" style="color:#000;">Curabitur accumsan iaculis neque, sit amet
                            scelerisque eros. Phasellus hendrerit neque a augue scelerisque, eu mollis mauris.</p>


                          <a class="btn btn1" datahr="#" style="color:#fff;background:#2db1e6;">Read More</a>

                        </div>
                      </div>
                    </div>


                  </div>

                  <div class="grid-uniform">

                  </div>
                </div>

              </div>
              <div class="dt-sc-hr-invisible-medium"></div>
            </div>
          </div>

          <style>
            #shopify-section-1593508802011.home-grid-banner .featured-content.mixed-1593508802011-0 .btn1:hover {
              color: #fff !important;
              background-color: #062b89 !important;
            }

            #shopify-section-1593508802011.home-grid-banner .featured-content.mixed-1593508802011-0 .btn2:hover {
              color: #fff !important;
              background-color: #272727 !important;
            }
          </style>



        </div>
      
  


      </div>
    </div>
  </div>

</main>